@import '../../../sassStyles/variables.scss';

.friends__block {
    margin-top: 60px;
    &-title {
        @extend %title-text;
        margin-left: 20px;
        color: $textLightColor;
    }
    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 5px 10px 15px 10px;
        margin: 0 20px 0 10px;
        border-radius: 10px;
        background-color: $bgBlockColor;
    }
    &-item {
        display: flex;
        flex-basis: 30%;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        .friend__image {
            width: 60px;
            height: 60px;
            margin: 0 2px;
            border-radius: 50%;
            overflow: hidden;
            img {
                max-width: 100%;
                min-height:100%;
                object-fit: cover;
            }
        }
        .friend__name {
            @extend %title-text;
            font-size: 13px;
        }
    }
}