@import '../../../../../sassStyles/variables.scss';

.dialogs {
    &__wrapper {
        @extend %block;
        padding: 33px;
        border-radius: 15px;
        overflow: hidden;
    }
    &__list {
        width: 100%;
        height: 100%;
        border-top: 1px solid rgba(0, 0, 0, .1);
        &-item, .dialogs__list-item_new {
            display: flex;
            align-items: flex-end;
            padding-top: 10px;
            border-radius: 6px;
            cursor: pointer;
            &_new {
                background-color: rgba($bgPrimaryLightColor, 0.3);
                border: 2px solid $textLightColor;
                .dialog__content {
                    border: none;
                }
            }
        }
    }
}
.dialog {
    &__image {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
        border-radius: 50%;
        overflow: hidden;
        img {
            max-width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        width: 100%;
        padding-bottom: 10px;
        margin-left: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        &-title {
            @extend %title-text;
        }
        &-subtitle{
            @extend %descr-text;
            font-size: 12px;
        }
        &-message {
            @extend %descr-text;
            padding: 5px 5px 5px 10px;
        }
    }
}