@import '../../../sassStyles/variables';

.user__follow-btn, .user__messages-btn{
    @extend %button;
    display: block;
    width: 140px;
    height: 22px;
    padding: 0 30px;
    margin-top: 3px;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    &:disabled {
        opacity: .3;
        background-color: #545454;
    }
}

.unfollow-btn {
    @extend %opp-button;
}