@import '../../../../sassStyles/variables';
@import '../../../../sassStyles/mixins';

.login-page {
    &__wrapper {
        width: 40%;
        margin: 0 auto;
        border-radius: 10px;
    }
    &__title {
        @extend %title-text;
        text-align: center;
        margin-bottom: 10px;
    }
}
.login__form {
    @extend %block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    &-btn {
        @extend %button;
        width: 80px;
        padding: 8px;
        border-radius: 4px;
    }
}


.login__input {
    &-email, &-password, &-captcha {
        @extend %descr-text;
        background-color: $bgMessageColor;
        padding: 5px 10px;
        margin-bottom: 6px;
        border-radius: 4px;
    }
    &-checkbox {
        @extend %descr-text;
        margin-bottom: 6px;
    }
    &-captcha-img {
        max-width: 90%;
    }
}

.submit-error {
    margin-bottom: 6px;
    border: 1px solid red;
    color: red;
}





// media queries
.login-page {
    &__wrapper {
        @include mdMaxBreakPoint {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-bottom: 40px;
        }
    }
}
.login__form {
    @include mdMaxBreakPoint {
        width: 260px;
    }
}