@import '../../../../../sassStyles/variables.scss';
@import '../../../../../sassStyles/mixins.scss';

.profile {
    &__info {
        @extend %block;
        padding-bottom: 10px;
        border-bottom: 2px solid $bgPrimaryLightColor;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        overflow: hidden;
        &-images {
            position: relative;
            height: 230px;
            width: 100%;
            .avatar__wrapper {
                position: relative;
                width: 130px;
                height: 130px;
                margin: -115px auto 0 auto;
            }
            .change-photo{
                position: absolute;
                right: 5px;
                bottom: 10px;
                width: 30px;
                height: 30px;
            }
            #change-photo_input {
                position: absolute;
                visibility: hidden;
            }
            .change-photo_label {
                cursor: pointer;
            }
            .change-photo_icon {
                width: 25px;
                padding: 3px;
                border-radius: 3px;
                background-color: rgba(0, 0, 0, 0.5);
                transition: all 0.2s;
                &:hover {
                    transform: scale(1.5);
                }
            }
        }
        &-cover {
            width: 100%;
            height: 100%;
        }
        &-avatar {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            overflow: hidden;
            border: 3px solid $bgBlockColor;
        }
        &-photo {
            max-width: 100%;
            min-height: 100%;
            object-fit: cover;
            cursor: pointer;
        }
            
        .page__name {
            margin-top: 25px;
            color: $textDarkColor;
            font-size: 26px;
            text-align: center;
        }
        .view-data__btn {
            display: block;
            margin: 10px auto 20px auto;
            color: $bgPrimaryColor;
            background-color: transparent;
        }
    }
    &__data {
        &-list {
            display: flex;
            flex-direction: column;
            max-width: 300px;
            margin: 22px auto;
            border-top: 1px solid rgba(0, 0, 0, .1);
            color: $textSecondaryColor;
            .data-form__row {
                border-bottom: 1px solid rgba(0, 0, 0, .1);
            }
        }
        &-row {
            display: flex;
            justify-content: space-between;
        }
        &-title, &-descr, &-link {
            @extend %descr-text;
            width: 150px;
        }
        &-field { 
            min-height: 20px;
            margin-bottom: 5px;
            border-radius: 3px;
            background-color: $bgMessageColor;
        }
        &-buttons{
            display: flex;
            justify-content: center;
        }
        &-btn {
            @extend %button;
            display: block;
            min-width: 75px;
            margin: 10px auto;
            padding: 5px 15px;
            border-radius: 4px;
        }

    }



    &__status {
        margin: 0 auto;
        max-width: 300px;
        text-align: center;
        word-break: break-word;
        &-text {
            @extend%descr-text;
        }
        &-input {
            border: 1px solid blue;
        }
    }
    
    &__buttons-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: -10px;
        width: 400px;
        &:nth-last-child() {
            margin-left: 10px;
        }
    }
}





// media queries

.profile {
    &__info-avatar {
        .fsi__wrapper {
            @include lgMaxBreakPoint {
                align-items: flex-start;
                padding-top: 50px;
            }
        }
        .fsi__picture {
            @include lgMaxBreakPoint {
                width: 90%;
                height: auto;
            }
        }
        .fsi_close {
            @include lgMaxBreakPoint {
                top: 10px;
                right: 10px;
            }
        }
    }
    &__buttons-wrapper {
        @include smMaxBreakPoint {
            justify-content: space-around;
            width: 100%;
            margin-top: 10px;
            .user__follow-btn, .user__messages-btn {
                width: 120px;
                padding: 0 10px;
            }
        }
    }
    &__data {
        @include smMaxBreakPoint {
            padding: 10px;
        }
    }
}