@import '../../sassStyles/_variables.scss';

.app {
    &__wrapper {
        width: 100%;
        min-height: 100vh;
        padding-top: 70px;
        background-color: $bgPrimaryColor;
        .block__wrapper {
          display: grid;
          grid-template-columns: 2.5fr 9.5fr;
        }
      }
}