@import '../../../../sassStyles/variables.scss';
@import '../../../../sassStyles/mixins';

.users {
    &__wrapper {

    }
    &__list {
        @extend %block;
        padding: 22px 100px;
        border-top: 2px solid $bgPrimaryLightColor;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        &-item {
            display: flex;
            padding: 10px 0 10px 0;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
            &:nth-last-child(1) {
                border-bottom: none
            }
            &_error {
                position: fixed;
                display: flex;
                justify-content: flex-start;
                bottom: 0;
                border-radius: 5px;
                background-color: $bgMessageColor;
            }
        }
        .user {
            &__image {
                flex-shrink: 1;
                width: 100px;
                height: 100px;
            }    
            &__details-wrapper {
                flex-shrink: 50;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-left: 15px;
            }
            &__info {
                display: flex;
                flex-direction: column;
            }
            &__name {
                @extend %title-text;
            }
            &__status {
                @extend %descr-text;
                line-height: 20px;
                word-break: break-word;

            }
            &__buttons-wrapper {
                width: 140px;
            }
        }
    }
    &__search{
        &-form {
            @extend %block;
            padding: 20px 20px 10px 20px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom: 2px solid $bgPrimaryLightColor;
            .search__field-wrapper {
                display: flex;
                align-items: center;
            }
        }
        &-field {
            height: 22px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            background-color: $bgMessageColor;
        }
        &-btn {
            @extend %button;
            height: 22px;
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
            font-size: 10px;
            text-transform: uppercase;
        }
        &-error {
            display: block;
            color: $warningColor;
        }
        &-label {
            @extend %descr-text;
            font-size: 13px;
            line-height: 10px;
        }
        &-title {
            @extend %title-text;
            font-size: 18px;
            text-align: center;

        }
    }
}





// media queries
.users {
    &__list {
        &-item {
            @include smMaxBreakPoint {
                flex-direction: column;
                align-items: center;
            }
        }
        .user__details-wrapper {
            @include smMaxBreakPoint {
                margin-left: 0;
                align-items: center;
            }
            .user__info {
                @include smMaxBreakPoint {
                    margin: 10px 0;
                    text-align: center;
                }
            }
        }
    }
}

.search__field-wrapper {
    @include smMaxBreakPoint {
        margin-bottom: 10px;
    }
}
.users__search-title {
    @include smMaxBreakPoint {
        font-size: 14px;
    }
}