@import '../../../sassStyles/variables.scss';
@import '../../../sassStyles/mixins.scss';

.main-section {
    padding: 15px 25px 40px 25px;
    border-radius: 22px;
    background-color: $bgSecondaryColor;
}



// media queries
.main-section {
    @include mdMaxBreakPoint {
        padding: 10px;
    }
}