@import '../../../sassStyles/variables.scss';

.message {
    min-width: 200px;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: $bgMessageColor;
    &_friend {
        margin-right: auto;
        background-color: lighten($bgMessageColor, 7%);
    }
    &_owner {
        margin-left: auto;
    }
    &__info {
        display: flex;
        align-items: flex-start;
    }
    &__author-image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        img {
            max-width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }
    &__author-name {
        @extend %title-text;
        margin-left: 5px;
        font-size: 13px;
    }
    &__date {
        @extend %descr-text;
        margin-left: auto;
        font-size: 11px;
    }
    &__text {
        @extend %descr-text;
        padding: 0 35px;
        line-height: 22px;
        word-break: break-word;
    }
    &__status {
        max-width: 150px;
        padding: 2px;
        margin: -20px 0 5px auto;
        border: 1px solid $bgPrimaryLightColor;
        border-radius: 4px;
        font-size: 11px;
        line-height: 16px;
        text-align: center;
        background-color: $bgSecondaryColor;
        color: $textDarkColor;
    }
}

#dialog__message-text {
    padding: 0 20px 0 15px;
}
.message_owner .message__text {
    cursor: pointer;
}
