@import '../../../sassStyles/variables.scss';

.message {
    min-width: 200px;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: $bgMessageColor;
    &_left {
        margin-right: auto;
        background-color: lighten($bgMessageColor, 7%);
        .message__status {
            display: none;
        }
    }
    &_right {
        margin-left: auto;
        .message_text {
            padding: 0 20px 0 15px;
            cursor: pointer;
        }
        .message__status {
            width: 300px;
        }
    }
    &__info {
        display: flex;
        align-items: flex-start;
    }
    &__author-image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        img {
            max-width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }
    &__author-name {
        @extend %title-text;
        font-size: 13px;
        margin-left: 5px;
    }
    &__date {
        @extend %descr-text;
        font-size: 11px;
        margin-left: auto;
    }
    &__text {
        @extend %descr-text;
        line-height: 22px;
        padding: 0 35px;
        word-break: break-word;
    }
}