@import '../../../sassStyles/variables.scss';
@import '../../../sassStyles/mixins';

.message {
    max-width: 55%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: $bgMessageColor;
    &_friend {
        margin-right: auto;
        background-color: lighten($bgMessageColor, 7%);
    }
    &_owner {
        margin-left: auto;
    }
    &__info {
        display: flex;
        align-items: flex-start;
    }
    &__author-image {
        width: 30px;
        height: 30px;
    }
    &__author-name {
        @extend %title-text;
        margin-left: 5px;
        font-size: 13px;
    }
    &__date {
        @extend %descr-text;
        margin-left: auto;
        font-size: 11px;
    }
    &__text {
        @extend %descr-text;
        padding: 0 35px;
        line-height: 22px;
        word-break: break-word;
    }
    &__status {
        max-width: 80px;
        height: 20px;
        padding: 1px;
        margin-left: auto;
        border: 1px solid $bgPrimaryLightColor;
        border-radius: 4px;
        font-size: 10px;
        text-transform: uppercase;
        line-height: 16px;
        text-align: center;
        background-color: $bgSecondaryColor;
        color: $bgPrimaryLightColor;
    }
}


.check-status__btn {
    width: 70px;
    height: 20px;
    margin-left: auto;
    font-size: 11px;
    text-align: right;
    line-height: 11px;
    color: $bgPrimaryLightColor;
    cursor: pointer;
}





// media queries
.message {
    @include smMaxBreakPoint {
        max-width: 100%;
    }
    &__text {
        @include smMaxBreakPoint {
            padding: 3px;
        }  
    }
}