@import '../../sassStyles/variables.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    padding: 10px 0;
    background-color: $bgComponentColor;
    &__logo {
        display: flex;
        align-items: center;
        max-height: 30px;
        &-img {
            width: 26px;
        }
        &-text {
            font-size: 14px;
            font-weight: 400;
            color: $textDarkColor;
            margin-left: 6px;
        }
    }
}