@import '../../../sassStyles/variables.scss';

.profile {
    &__info {
        padding-bottom: 10px;
        border-bottom: 2px solid $bgPrimaryLightColor;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        overflow: hidden;
        background-color: $bgComponentColor;
        box-shadow: 0px -2px 4px 0px rgba(50, 50, 50, 0.2);
        &-images {
            position: relative;
            height: 230px;
            width: 100%;
        }
        &-cover {
            width: 100%;
            height: 100%;
        }
        &-photo {
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translateX(-50%);
            width: 130px;
            height: 130px;
            border-radius: 50%;
            border: 3px solid $bgSecondaryColor;
            
        }
        .page__name {
            margin-top: 35px;
            color: $textDarkColor;
            font-size: 26px;
            text-align: center;
        }
        .view-data__btn {
            display: block;
            margin: 20px auto;
            color: $bgPrimaryColor;
            background-color: transparent;
        }
    }
    &__data {
        &-block {
            display: flex;
            flex-direction: column;
            max-width: 300px;
            margin: 22px auto;
            border-top: 1px solid rgba(0, 0, 0, .1);
            color: $textSecondaryColor;
        }
        &-row {
            display: flex;
            justify-content: space-between;
        }
        &-item {
            width: 150px;
        }

    }
    
}
