@import '../../../../../sassStyles/variables.scss';

.add-post {
    &__block {
        @extend %block;
        width: 55%;
        padding: 10px 20px 30px 20px;
        margin-top: 50px;
        border-top: 2px solid $bgPrimaryLightColor;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    &__title {
        @extend %title-text;
    }
    &__form {
    }
    &__textarea {
        @extend %descr-text;
        width: 100%;
        min-height: 66px;
        padding: 10px;
        margin-top: 10px;
        border-radius: 4px;
        resize: none;
        overflow: auto;
        background-color: $bgMessageColor;
        &::placeholder {
            @extend %descr-text;
        }
    }
    &__btn {
        @extend %button;
        display: block;
        padding: 10px 30px;
        margin-left: auto;
        border-radius: 4px;
    }
}